.main-screen {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-state {
    text-align: center;
}

.empty-state .message {
    font-size: 18px;
    color: #555;
}

.empty-state .arrow {
    font-size: 48px;
    margin-top: 16px;
    animation: bounce 1s infinite alternate;
}

.arrow {
    position: absolute;
    bottom: 82px;
    right: 100px;
}

.arrow-icon {
    width: 80px;
    animation: diagonal 1s infinite alternate;
}

@keyframes diagonal {
    from {
        transform: translate(5px, 5px) rotate(15deg)
    }

    to {
        transform: translate(20px, 20px) rotate(10deg);
    }
}

.create-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #1976d2;
    color: #fff;
    font-size: 32px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}